h2 {
    font-family: 'Dancing Script', cursive;
    color: darkgoldenrod;
    font-size: 35px;
    text-align: center;
}

section {
    height: 475px;
    width: 900px;
    padding-left: 400px;
    padding-top: 50px;
    padding-bottom: 100px;
}

p {
    width: 600px;
    margin: 10px;
    float: right;
    font-family: 'EB Garamond', serif
    font-size: 20px;
    color: darkslategrey; 
  }

div.header {
    padding-top: 30px;
    padding-left: 100px;
    text-align: center;
}

div.gallery {
    text-align: center;
    padding-top: 30px;
}
